{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/no-unused-prop-types": 0,
    "max-len": [2, {"code": 120, "tabWidth": 2, "ignoreUrls": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
